@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Головна сторінка</h1>
    <p>За допомогою даного застосунку можна виконувати лабораторні роботи: 1, 2 та 3. Для роботи з ними необхідно авторизуватися</p>
</div>
